* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman' !important;
}

.createstud-btn,.del-btn,.update-btn,.submit-btn{
    font-family: sans-serif !important;
    text-transform: capitalize !important;
    font-size: 16px !important;
}

.crud-table .table-heading{
    display: flex;
    justify-content: center;
    font-size: 24px !important;
    font-weight: 600 !important;
    text-align: center !important;
    box-shadow: 2px 2px 10px 0 #c7c7c7;
    margin: 16px 0px;
    color: black !important;
    padding: 12px;
}

.input-field{
    padding: 8px 8px;
    font-size: 16px;
    border: 1px solid gray;
}
.css-1dc80h3-MuiTableCell-root{
    padding: 2px 16px !important;
    text-align: center !important;
}